name: "Node testing"

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "14.x"
          cache: "npm"
      - name: Install dependencies
        run: npm ci --include=dev
      - run: npm run lint
